/* Fonts and common styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.section_title{
    font-family: "Noto Serif", serif;
    font-weight: bold;
    font-size: 3.125rem;
}
section{
    margin-bottom: 120px;
}
.dis-color{
    color:rgba(0, 0, 0, 0.5)
}
/* Header and banner styles */
header, main{
    margin: 0 150px;
}
.banner-title{
    font-weight: bolder;
}
.banner-pic{
    width: 100%;
}
/* OUR PLANTS */
.our_plants{
    margin-bottom: 250px;
}
/* FLOWER AND PLANTS LOVER */
.trusted{
    margin-bottom: 0;
}
/* LATEST DEALS */
.deals{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left_deal{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.bloom{
    background-image: url(assets/deal-bloom.png);
    opacity: 80%;
    background-repeat: no-repeat;
    width: 366px;
    height: 200px;
    border-radius: 22px;
}
.ana{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    opacity: 80%;
    width: 366px;
    height:200px;
    border-radius: 22px;
}
.right_deal{
     background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 743px;
    border-radius: 22px;
}
/* Join our branch */
.branch{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}
@media screen and (max-width: 576px) {
    header, main{
        margin: 0;
    }
    nav{
        margin: 20px 0 50px 0;
    }
    nav li{
        display: none;
    }
    #cart{
        display: flex;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .items_cont{
        grid-template-columns: repeat(2, 1fr);
    }
    button{
        padding: 0;
    }
    .trusted_cont{
        flex-direction: column;
    }
    #badge{
        display: none;
    }
    .our_plants{
    margin-bottom: 50px;
    }
    .trusted{
    margin-bottom:150px;
    }
    .deals{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .right_deal{
        margin: 0 15px;
        width: calc(100% - 30px);
        height: 200px;
    }
    .bloom,.ana{
        max-width: 1400px;
        margin: 0 auto;
    }
    .ana{
        border-radius: 0;
    }
}